/* Footer */
.footer {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer p {
  color: $text-secondary;
  margin: 0;
}