header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid $border-color;
  height: 4rem;
  z-index: 50;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    .logo-icon {
      height: 2rem;
      width: 2rem;
      color: $text-accent;
    }

    .logo-text {
      font-size: 1.25rem;
      font-weight: bold;
      &.text-gradient {
        color: grey;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-links {
      visibility: hidden;
      gap: 1.5rem;
      @media (min-width: 768px) {
        display: flex;
        visibility: visible;
      }

      a {
        text-transform: capitalize;
        color: $text-secondary;
        text-decoration: none;
        transition: color border 0.2s ease;
        &.active {
          font-weight: 600;
          border-bottom: 1px solid;
          color: $text-accent;
        }
        &:hover {
          color: $text-accent;
        }
      }
    }
  }
  .btn {
    display: none;
  }
  @media (min-width: 768px) {
    .fas {
      display: none;
    }
    .btn {
      height: 1.2rem;
      display: block;
    }
  }
}
