.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid $border-color;
  height: 4rem;
  z-index: 50;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    .logo-icon {
      height: 2rem;
      width: 2rem;
      color: $text-accent;
    }

    .logo-text {
      font-size: 1.25rem;
      font-weight: bold;
      &.text-gradient {
        color: grey;
      }
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-links {
      visibility: hidden;
      gap: 1.5rem;
      @media (min-width: 768px) {
        display: flex;
        visibility: visible;
      }

      a {
        text-transform: capitalize;
        color: $text-secondary;
        text-decoration: none;
        transition: color border 0.2s ease;
        &.active {
          font-weight: 600;
          border-bottom: 1px solid;
          color: $text-accent;
        }
        &:hover {
          color: $text-accent;
        }
      }
    }
  }
  .btn {
    display: none;
  }
  .fa-user {
    color: $text-secondary;
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border-radius: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $text-accent;
    }
  }
  .fa-x{
    position: absolute;
    z-index: 40;
    right: 1rem;
  }
  &-nav-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    height: 80vh;
    right: 100vh;
    left: -100vh;
    gap: 1rem;
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);
    &.show {
      left: 0;
      right: 0;
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: 54%;
      text-transform: capitalize;
      font-size: 1.2rem;
      gap: 1rem;
      .nav-link {
        width: 90%;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        height: 3rem;
        transition: all 0.4s ease;
        border-radius: 1rem;
        &:hover {
          background-color: $text-accent;
          color: white;
        }
        &.active {
          background-color: $text-accent;
          color: white;
        }
      }
    }
    .btn {
      display: flex;
      width: 90%;
      padding-inline: 0;
      height: 1.5rem;
      font-size: 14px;
      font-weight: 300;
    }
    .fa-user {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .fa-bars,.fa-x {
      display: none;
    }
    .fa-user {
      display: flex;
    }
    .btn {
      height: 1.2rem;
      display: block;
    }
    &-nav-mobile {
      display: none;
    }
  }
}
